<h1> In show html </h1>

<h3>title is : <%= @article.title%> </h3>

<p> description is : <%=@article.description%></p>
<%= link_to 'edit' , edit_article_path %>


<p> <%= link_to 'Back to articles', articles_path%><p>