@import "bootstrap-sprockets";
@import "bootstrap";

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}
.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px; 
}


.jumbotron {
    height: 500px;
}
#logo {
    float: left;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
.article-action {
    border-top: #eaeaea;
    padding-top: 5px;
 }

 .article-meta-details {
     border-top: 1px solid #eaeaea;
 }
.center {
    text-align: center
}

.listings {
    list-style: none;
    padding-left: 0;
    
}
.badge {
    background-color: #eeeeee;
    font-size: bold;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    margin-bottom: -50px;
    border-top: 1mm solid black;
}
footer ul{
    float: right;
    list-style: none;
}