<h1 class="center"> List of Categories </h1>

<%= will_paginate%>
<%@categories.each do |category| %>
    <div class="row center">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="well well-lg">
                    <div class="article-title">
                        <%= link_to "#{category.name}", category_path(category) %> 
                    </div>
                </div>
            </div>
        </div>
    </div>  
<%end%>
<%= will_paginate%>
